*{

margin: 0;  /*remover as margens do navegador*/
padding:0; /*remover prenchimentos padrão do navegador*/
box-sizing: border-box;/*garante que bordas nao aumentem o tamanho dos elementos*/
font-family: Arial, Helvetica, sans-serif

}


/*Estilizar brra de navegação*/
.navbar
{

background-color: red;
color: #fff;
display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 0; 
    padding: 0;
}

.navbar ul li a {
   transition: 0.4s;
    color: #fff;

   text-decoration: none;
   padding: 10px 20px;
   display: block;
   border-radius: 5px;
    margin-left: 20px;



}
.navbar ul li a:hover { /*adiciona um fundo branco*/
    background-color: #fff;/*add uma cor diferente ao texto(*/

    color: red;
    box-shadow: 0px 4px 10px black;
transform: translateY(-2px);

}



/*container que limita tamanho do carrose*/
.slider {
    margin:20px auto;/*centraliza na tela e da margem no topo*/
    width: 800px; /*largura fixa do carrosel*/
    height: 400px;/*altura fixa do carrosle*/
    overflow: hidden;/*esconde oq estiver fora da caixa (as fotos)*/
    border-radius: 10px;/*canto arredondado*/
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);/*sombra no baguiu*/
}
.slider-content {
    width:400%;
    height: 100%;/*ocupa 100% da altura do objeto "pai"*/
    display: flex;/*coloca as imagens lado a lado*/
}
.slider-content input
{
    display: none;/*esconder os botoes de radio*/
}
/*estilizar cada imagem*/
.slide-box
{
    width: 25%;/*coloca cada foto ocupando 25% (os 100 divido pra 4)*/
    transition: 0.6s;/*tempo para transição*/
}
.slider-box img
{width: 800px;
height: 400px;
object-fit: cover; /*garante que a imagem preencha todo o espaço sem distorcer*/
}
#radio1:checked ~ .first{margin-left: 0;}
#radio2:checked ~ .first{margin-left: -25%;}
#radio3:checked ~ .first{margin-left: -50%;}
#radio4:checked ~ .first{margin-left: -75%;}

/*estilodos botoes manuais do radio*/
.nav-manual{

    position: absolute;/*posiçãofixo em casa slide*/
    width: 800px;/* mesma largura do slider*/
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn
{
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: 0.3s;
}
.manual-btn:hover{
    background-color: white;
}