*{

margi: 0;  /*remover as margens do navegador*/
pedding:0; /*remover prenchimentos padrão do navegador*/
box-sizing: border-box;/*garante que bordas nao aumentem o tamanho dos elementos*/
font-family: Arial, Helvetica, sans-serif

}


/*Estilizar brra de navegação*/
.navbar
{

background-color: red;
color: #fff;
display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
;
}